@import "../bootstrap/scss/_functions";
@import "../bootstrap/scss/_variables";

// Anular colores predeterminados del tema
$primary: #97c93d;
$secondary: #3e587c;
$light: #f8f9fa;
$dark: #1c2837;

$theme-colors: map-merge(
    $theme-colors,
    (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "dark": $dark,
    )
);

// Importar Bootstrap
@import "../bootstrap/scss/bootstrap";

.flipping {
    height: 22.4px;
    display: grid;
    grid-template-columns: repeat(5, 22.4px);
    grid-gap: 5.6px;
}

.flipping div {
    animation: flipping-owie1ymd 1.25s calc(var(--delay) * 1s) infinite ease;
    background-color: var(--bs-primary);
}

.flipping div:nth-of-type(1) {
    --delay: 0.25;
}

.flipping div:nth-of-type(2) {
    --delay: 0.5;
}

.flipping div:nth-of-type(3) {
    --delay: 0.75;
}

.flipping div:nth-of-type(4) {
    --delay: 1;
}

.flipping div:nth-of-type(5) {
    --delay: 1.25;
}

@keyframes flipping-owie1ymd {
    0% {
        transform: perspective(44.8px) rotateY(-180deg);
    }

    50% {
        transform: perspective(44.8px) rotateY(0deg);
    }
}

@font-face {
    font-family: "Tommy";
    src: url("tommy.otf") format("opentype");
}

.text-brand {
    font-family: "Tommy", sans-serif !important;
}
